@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-space-grotesk);
  --font-mono: var(--font-space-mono);
}

:root {
  --color-background: #d4d4d4;
  --color-footer-text: #d4d4d4;
  --color-selection-text: #d4d4d4;
  --color-hover-text: #d4d4d4;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 4rem;
}

@media (min-width: 768px) {
  html {
    scroll-padding-top: 5rem;
  }
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: var(--color-background);
  border-left: 2px solid black;
}

::-webkit-scrollbar-thumb {
  background: black;
  border: 2px solid var(--color-background);
  border-radius: 0px;
}

::-webkit-scrollbar-thumb:hover {
  background: #333;
}

